{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}
	<div class="encadrement">
		<div>
			<h1>Mon espace membre</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dignissimos, hic delectus, quia eos id rem sit aliquid nulla rerum quod vitae atque amet neque officiis ad suscipit nobis soluta. Tenetur delectus voluptatum molestiae nesciunt accusantium ullam impedit dicta veritatis atque cumque ipsa molestias repellendus perspiciatis quisquam voluptas mollitia officiis, praesentium quaerat.
			</p>
		</div>

		<br><br>

		<section class="d-flex justify-content-center">
			<a class="btn btn-CTA" href="{{ path('membre_articles') }}">
				Consultez nos nouveaux articles ...
			</a>
		</section>
		<br>
		{% include "includes/app/card-articles.html.twig" %}

		<br><br>

		{% include "includes/app/card-themes.html.twig" %}

		<br><br>

		{% include "includes/app/card-niveaux.html.twig" %}

		<br><br>

		<section class="d-flex justify-content-center">
			<a class="btn btn-CTA" href="{{ path('membre_lecons') }}">
				... et les dernières leçons publiées !
				<i class="fas fa-gem ms-1"></i>
			</a>
		</section>
		<br>
		{% include "includes/app/card-lecons.html.twig" %}

		<br><br>

		{% include "includes/app/card-categories-lecon.html.twig" %}
	</div>
{% endblock %}
