{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}
	<div class="encadrement">
		<section class="lp-section-accueil">
			<h1 class="lp-h1">
				LaBelleLangue<span class="lp-h1-span">.io</span>
			</h1>
			<h2 class="lp-h2">
				Apprenez
				<span class="lp-h2-span">la langue de l'amour</span>
				& explorer le
				<span class="lp-h2-span-deux">monde</span>.
			</h2>

			<section class="d-flex justify-content-center">
				<button class="btn btn-CTA">
					Je veux apprendre le français ...
				</button>
			</section>

			<div class="d-flex justify-content-center py-5">
				<i class="fas fa-angle-down text-dark"></i>
			</div>

			<section class="lp-section-accueil-section-argument">
				{% for argument in arguments %}
					<button class="btn btn-argument">
						<i class="fas fa-check icon-btn-argument"></i>
						{{ argument.content }}
					</button>
				{% endfor %}
			</section>

			<br><br>

			<section id="lp-section-accueil-section">
				<h3 class="lp-section-accueil-section-h3">
					<i class="fas fa-location-dot me-1 text-dark"></i>
					La
					<span class="fw-bold">plateforme en ligne</span>
					<br>
					pour vraiment
					<span class="lp-section-accueil-section-h3-span">maîtriser le français</span>
				</h3>

				<section class="d-flex justify-content-center">
					<button class="btn btn-CTA">
						... en immersion, depuis l'autre bout du monde.
					</button>
				</section>

				<div class="d-flex justify-content-center py-5">
					<i class="fas fa-angle-down text-dark"></i>
				</div>

				<section class="lp-section-cartes-presentation" id="methode">
					{% include "includes/base/cartes-presentation.html.twig" %}
				</section>
			</section>
		</section>

		<br>

		<div class="d-flex justify-content-center pt-3 pb-5">
			<i class="fas fa-angle-down text-dark"></i>
		</div>

		<section class="lp-section-faq" id="faq">
			<h2 class="text-center">Foire aux questions</h2>
			<br>
			{% include "includes/base/faq.html.twig" %}

			<br>

			<section class="d-flex justify-content-center">
				<a class="btn btn-CTA" href="{{ path('app_contact') }}">
					Nous contacter
				</a>
			</section>
		</section>

		<br>

		<section class="lp-section-abonnement" id="abonnement">
			{% include "includes/base/abonnement.html.twig" %}
		</section>
	</div>
	<div class="encadrement bg-dark">
		<br>
		{% include "includes/home/card-articles.html.twig" %}
		<br><br>
		{% include "includes/home/card-lecons.html.twig" %}
	</div>
{% endblock %}
