{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}
	<div>
		<h1 class="text-center">Hello LaBelleLangue.io</h1>

		<a href="{{ path('payant')}}">Espace payant</a>

		<br><br>

		{% include "includes/home/card-articles.html.twig" %}

		<br><br>

		{% include "includes/home/card-themes.html.twig" %}

		<br><br>

		{% include "includes/home/card-niveaux.html.twig" %}

		<br><br>

		{% include "includes/home/card-lecons.html.twig" %}

		<br><br>

		{% include "includes/home/card-categories-lecon.html.twig" %}
	</div>
{% endblock %}
