{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}
	<div style="padding-left:100px;padding-right:100px;padding-bottom:100px;">
		<section class="lp-section-accueil">
			<h1 class="lp-h1">
				LaBelleLangue<span class="lp-h1-span">.io</span>
			</h1>
			<h2 class="lp-h2">
				Apprenez
				<span class="lp-h2-span">la langue de l'amour</span>
				& explorer le
				<span class="lp-h2-span-deux">monde</span>.
			</h2>

			<section class="d-flex justify-content-center">
				<button class="btn btn-CTA">
					Je veux apprendre le français ...
				</button>
			</section>

			<div class="d-flex justify-content-center py-5">
				<i class="fas fa-angle-down text-dark"></i>
			</div>

			<section class="lp-section-accueil-section-argument">
				<button class="btn btn-argument">
					<i class="fas fa-check icon-btn-argument"></i>
					Créer des opportunités professionnelles
				</button>
				<button class="btn btn-argument">
					<i class="fas fa-check icon-btn-argument"></i>
					Intégrer les instances diplomatiques internationales
				</button>
				<button class="btn btn-argument">
					<i class="fas fa-check icon-btn-argument"></i>
					Elargir vos horizons culturels
				</button>
				<button class="btn btn-argument">
					<i class="fas fa-check icon-btn-argument"></i>
					Voyager dans les 88 pays et territoires francophones
				</button>
				<button class="btn btn-argument">
					<i class="fas fa-check icon-btn-argument"></i>
					Entrer dans l'école de votre choix
				</button>
			</section>

			<br><br>

			<section id="lp-section-accueil-section">
				<h3 class="lp-section-accueil-section-h3">
					<i class="fas fa-location-dot me-1 text-dark"></i>
					La
					<span class="fw-bold">plateforme en ligne</span>
					<br>
					pour vraiment
					<span class="lp-section-accueil-section-h3-span">maîtriser le français</span>
				</h3>

				<section class="d-flex justify-content-center">
					<button class="btn btn-CTA">
						... en immersion, depuis l'autre bout du monde.
					</button>
				</section>

				<div class="d-flex justify-content-center py-5">
					<i class="fas fa-angle-down text-dark"></i>
				</div>

				<section class="lp-section-cartes-presentation">
					<div class="row row-cols-1 row-cols-md-2 g-4">
						<div class="col">
							<div class="card">
								<div class="card-body">
									<button class="btn btn-rounded btn-rounded-carte-presentation">
										<i class="fas fa-bars-staggered"></i>
									</button>
									<h3 class="carte-presentation-h3">
										1. Lisez de courts articles sur des thèmes variés selon votre niveau.
									</h3>
									<p class="card-text texte-carte-presentation">
										Sélectionnez le thème et le niveau de votre choix, et trouvez les articles qui correspondent à votre recherche et améliorer votre
										<span class="texte-carte-presentation-span">compréhension écrite</span>.
									</p>
								</div>
							</div>
						</div>

						<div class="col" style="margin-top:200px;">
							<div class="card">
								<div class="card-body">
									<button class="btn btn-rounded btn-rounded-carte-presentation">
										<i class="fas fa-headphones-simple"></i>
									</button>
									<h3 class="carte-presentation-h3">
										2. Écoutez leur lecture par un natif selon trois vitesses différentes.
									</h3>
									<p class="card-text texte-carte-presentation">
										Ecouter chacun de nos articles, dialogues et mots de vocabulaire selon trois vitesses de lecture différentes et améliorer votre
										<span class="texte-carte-presentation-span">compréhension orale</span>.
									</p>
								</div>
							</div>
						</div>

						<div class="col" style="margin-top:-80px;">
							<div class="card">
								<div class="card-body">
									<button class="btn btn-rounded btn-rounded-carte-presentation">
										<i class="fas fa-chalkboard"></i>
									</button>
									<h3 class="carte-presentation-h3">
										3. Révisez le vocabulaire de chaque article et leur définition.
									</h3>
									<p class="card-text texte-carte-presentation">
										Consectetur adipisicing elit. Possimus nemo dolore fugiat deserunt, non maxime in eos corporis, aut accusantium, at eaque consequatur. Dolor, incidunt deserunt ad quia fuga repellat
										<span class="texte-carte-presentation-span">expression orale</span>.
									</p>
								</div>
							</div>
						</div>

						<div class="col" style="margin-top:100px;">
							<div class="card">
								<div class="card-body">
									<button class="btn btn-rounded btn-rounded-carte-presentation">
										<i class="fas fa-microphone-lines"></i>
									</button>
									<h3 class="carte-presentation-h3">
										4. Suivez nos cours de grammaire, conjugaison et d'orthographe.
									</h3>
									<p class="card-text texte-carte-presentation">
										Suivez nos cours et leçons de grammaire, conjugaison et d'orthographe triées par niveau et catégorie pour enfin améliorer votre
										<span class="texte-carte-presentation-span">expression écrite</span>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
		</section>

		<div class="d-flex justify-content-center pt-3 pb-5">
			<i class="fas fa-angle-down text-dark"></i>
		</div>

		<br>

		<section class="lp-section-encadrement shadow"></section>

		<br><br><br><br><br>

		{% include "includes/home/card-articles.html.twig" %}

		<br><br>

		{% include "includes/home/card-themes.html.twig" %}

		<br><br>

		{% include "includes/home/card-niveaux.html.twig" %}

		<br><br>

		{% include "includes/home/card-lecons.html.twig" %}

		<br><br>

		{% include "includes/home/card-categories-lecon.html.twig" %}
	</div>
{% endblock %}
