@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
.lp-section-accueil {
  padding-top: 65px;
}
.lp-h1 {
  color: var(--main) !important;
  text-align: center;
  font-size: 38px !important;
}
.lp-h1-span {
  color: var(--third);
}
.lp-h2 {
  color: var(--main) !important;
  text-align: center;
  font-size: 45px !important;
  font-family: "Montez", cursive;
}
.lp-h2-span {
  color: var(--third) !important;
}
.lp-h2-span-deux {
  text-decoration: underline;
  text-decoration-color: var(--third);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
#lp-section-accueil-section {
  padding: 50px;
  padding-bottom: 65px !important;
  width: 100%;
  /* background-color: var(--second); */
  border-radius: 10px;
}
.lp-section-accueil-section-argument {
  text-align: center;
  margin-top: -7.5px !important;
}
.btn-argument {
  text-transform: none !important;
  font-size: 17px !important;
  color: var(--main) !important;
  letter-spacing: normal !important;
  font-weight: normal !important;
  margin: 10px !important;
  background-color: var(--second) !important;
  border-radius: 100px !important;
}
.icon-btn-argument {
  color: var(--third) !important;
  margin-right: 7.5px !important;
}
.btn-CTA {
  text-transform: none !important;
  font-size: 17px !important;
  color: var(--second) !important;
  letter-spacing: normal !important;
  font-weight: normal !important;
  margin: 10px !important;
  background-color: var(--third) !important;
  border-radius: 100px !important;
}
.lp-section-accueil-section-h3 {
  color: var(--third);
  text-align: center;
  font-weight: normal !important;
  font-size: 27.5px !important;
}
.lp-section-accueil-section-h3-span {
  color: var(--main) !important;
}
/** **/
.lp-section-cartes-presentation {
  padding-top: 10px;
}
.btn-rounded-carte-presentation {
  margin-bottom: 15px !important;
}
.texte-carte-presentation {
  margin-top: 10px !important;
  /* margin-bottom: 15px !important; */
  color: var(--main) !important;
}
.texte-carte-presentation-span {
  /* font-weight: bold !important;: */
  color: var(--third) !important;
}
.titre-carte-presentation {
  color: var(--main) !important;
  text-align: center;
  font-size: 20px !important;
  margin-top: -42.5px !important;
}
.card {
  border-radius: 10px !important;
  background-color: var(--second) !important;
}
.carte-presentation-h3 {
  color: var(--main) !important;
  font-size: 25px !important;
}
.lp-section-encadrement {
  border-radius: 5px;
  background-color: var(--third);
  width: 100%;
  padding: 50px;
}
/***********/
.lp-section-faq {
  padding-top: 30px;
}
.accordion-button {
  background-color: var(--second) !important;
  color: var(--main) !important;

  margin-bottom: 20px !important;
}
/**/
.lp-section-abonnement {
  padding-top: 100px;
}
.abonnement-titre {
  color: var(--third) !important;
}
/***/
.lp-section-titre-milieu {
  font-size: 100px;
  color: var(--second);
  text-align: center;
}
