:root {
  --main: #262626;
  --second: #fbfbfb;
  --third: #f24040;
}
body {
  overflow-x: hidden;
}
.encadrement {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 65px;

  color: var(--main) !important;
}
.encadrement-form {
  padding-left: 350px;
  padding-right: 350px;
  padding-bottom: 100px;
  padding-top: 100px;

  color: var(--main) !important;
}
/*****/
.card-article-createdAt {
  font-size: 16px;
  font-weight: normal;
}
.card-niveau-body {
  font-size: 17.5px;
  text-align: center;
  color: white !important;
  padding-bottom: 20px !important;
}
.card-niveau {
  background-color: #262626 !important;
}
.badge-word-solution {
  color: #262626 !important;
  font-weight: normal !important;
  transition-duration: 0.3s !important;

  font-size: 14px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-transform: lowercase !important;
}
.badge-word-solution:hover {
  color: white !important;
  transition-duration: 0.3s !important;
}
/**/
.iframe-video-article {
  border-radius: 5px !important;
  margin-top: 20px !important;
  margin-bottom: 8px !important;

  width: 500px;
  height: 755px;
}
.section-article-video {
  display: flex;
}
#section-article-video-droite {
  flex: 2;
  padding-left: 25px;
}
#section-article-video-gauche {
  flex: 1;
}
.section-center {
  display: flex;
  justify-content: center;

  padding: 50px;
  font-size: 25px;
}
/**/
.nav-link-pills-dialogue {
  text-transform: none !important;
  font-size: 15px !important;
  color: black !important;
  font-weight: normal !important;
  padding: 15px !important;
}
.nav-pills {
  display: flex !important;
  justify-content: right !important;
}
.section-article-content-text {
  margin-top: 15px;
  font-size: 18px !important;
}
/**/
.card-img-lecon {
  border-radius: 5px !important;
}
