body{
    padding: 100px;
}
.card-article-createdAt{
    font-size:16px;
    font-weight: normal;
}
.card-niveau-body{
    font-size: 18px;
    text-align: center;
    color: white !important;
    padding-bottom: 20px !important;
}
.card-niveau{
    background-color: #262626 !important;
}