<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for abonnement in abonnements %}
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">
						Abonnement
						<span class="abonnement-titre">{{ abonnement.name }}</span>
					</h5>
					<br>
					<p class="card-text">
						{{ abonnement.description|raw }}
					</p>
					<section class="d-flex justify-content-center">
						<a class="btn btn-CTA">
							{{ abonnement.price / 100 }}&euro;
						</a>
					</section>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
