<div class="accordion accordion-borderless" id="accordionFlushExampleX">
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingOneX">
			<button class="accordion-button shadow" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapseOneX" aria-expanded="true" aria-controls="flush-collapseOneX">
				<i class="fas fa-caret-right me-2"></i>
				Quisque sodales neque ac arcu ultrices fringilla quis eget est ?
			</button>
		</h2>
		<div id="flush-collapseOneX" class="accordion-collapse collapse show" aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlushExampleX">
			<div class="accordion-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend, dolor at facilisis semper, diam nibh varius neque, sit amet pulvinar tellus augue vitae quam. Curabitur vel facilisis diam. Vestibulum sit amet mi nec metus consequat sagittis sit amet ultricies neque. Donec et nibh eget ex mattis dignissim. Nullam arcu metus, auctor vitae magna et, auctor eleifend massa. Praesent dignissim diam nisi, a elementum ipsum accumsan eget. Fusce augue augue, auctor vel arcu sagittis, posuere venenatis neque. Nam tempor vitae urna ut facilisis. Integer sollicitudin velit accumsan ipsum faucibus, non ullamcorper tellus accumsan. Nam et dictum tellus, quis rutrum ipsum. Nulla imperdiet magna sagittis eros dictum, eget volutpat ex faucibus. Nullam a sem sit amet ante sodales fermentum. Sed nunc ex, suscipit sit amet tristique in, tincidunt nec massa. Pellentesque dictum tempor elit ac commodo. Sed vel condimentum ipsum. Aliquam sit amet libero bibendum, finibus elit at, sodales orci.
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingTwoX">
			<button class="accordion-button shadow collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapseTwoX" aria-expanded="false" aria-controls="flush-collapseTwoX">
				<i class="fas fa-caret-right me-2"></i>
				Quisque sodales neque ac arcu ultrices fringilla quis eget est ?
			</button>
		</h2>
		<div id="flush-collapseTwoX" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoX" data-mdb-parent="#accordionFlushExampleX">
			<div class="accordion-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend, dolor at facilisis semper, diam nibh varius neque, sit amet pulvinar tellus augue vitae quam. Curabitur vel facilisis diam. Vestibulum sit amet mi nec metus consequat sagittis sit amet ultricies neque. Donec et nibh eget ex mattis dignissim. Nullam arcu metus, auctor vitae magna et, auctor eleifend massa. Praesent dignissim diam nisi, a elementum ipsum accumsan eget. Fusce augue augue, auctor vel arcu sagittis, posuere venenatis neque. Nam tempor vitae urna ut facilisis. Integer sollicitudin velit accumsan ipsum faucibus, non ullamcorper tellus accumsan. Nam et dictum tellus, quis rutrum ipsum. Nulla imperdiet magna sagittis eros dictum, eget volutpat ex faucibus. Nullam a sem sit amet ante sodales fermentum. Sed nunc ex, suscipit sit amet tristique in, tincidunt nec massa. Pellentesque dictum tempor elit ac commodo. Sed vel condimentum ipsum. Aliquam sit amet libero bibendum, finibus elit at, sodales orci.
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingThreeX">
			<button class="accordion-button shadow collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapseThreeX" aria-expanded="false" aria-controls="flush-collapseThreeX">
				<i class="fas fa-caret-right me-2"></i>
				Quisque sodales neque ac arcu ultrices fringilla quis eget est ?
			</button>
		</h2>
		<div id="flush-collapseThreeX" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeX" data-mdb-parent="#accordionFlushExampleX">
			<div class="accordion-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend, dolor at facilisis semper, diam nibh varius neque, sit amet pulvinar tellus augue vitae quam. Curabitur vel facilisis diam. Vestibulum sit amet mi nec metus consequat sagittis sit amet ultricies neque. Donec et nibh eget ex mattis dignissim. Nullam arcu metus, auctor vitae magna et, auctor eleifend massa. Praesent dignissim diam nisi, a elementum ipsum accumsan eget. Fusce augue augue, auctor vel arcu sagittis, posuere venenatis neque. Nam tempor vitae urna ut facilisis. Integer sollicitudin velit accumsan ipsum faucibus, non ullamcorper tellus accumsan. Nam et dictum tellus, quis rutrum ipsum. Nulla imperdiet magna sagittis eros dictum, eget volutpat ex faucibus. Nullam a sem sit amet ante sodales fermentum. Sed nunc ex, suscipit sit amet tristique in, tincidunt nec massa. Pellentesque dictum tempor elit ac commodo. Sed vel condimentum ipsum. Aliquam sit amet libero bibendum, finibus elit at, sodales orci.
				</p>
			</div>
		</div>
	</div>
</div>
