<nav class="navbar navbar-expand-md" id="header">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link nav-link-marque" href="#">
					LaBelleLangue<span id="nav-link-marque-span">.io</span>
				</a>
			</li>
		</ul>
		<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link nav-link-center" href="#">Méthode</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-center" href="#">Foire aux questions</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-center" href="#">Forum</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-center" href="#">Abonnement</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link nav-link-right" href="#">
					Connexion
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-right" href="{{ path('payant')}}">
					<i class="fas fa-caret-right nav-link-caret-right me-1"></i>
					C'est parti !
				</a>
			</li>
		</ul>
	</div>
</nav>
